# sharebook-kr/pyupbit

### https://github.com/sharebook-kr/pyupbit

In [1]:
#!pip install pyupbit
# !pip install pyjwt

In [2]:
import pyupbit

'KRW-XRP' 리플
'KRW-BTC' 비트코인
'KRW-DOGE' 도지코인
'KRW-ETH' 이더리움

## 암호화폐 목록
get_tickers 함수는 업비트가 지원하는 모든 암호화폐 목록을 얻어옵니다.

In [3]:
print(pyupbit.get_tickers())

['KRW-BTC', 'KRW-ETH', 'BTC-ETH', 'BTC-XRP', 'BTC-ETC', 'BTC-CVC', 'BTC-DGB', 'BTC-SC', 'BTC-SNT', 'BTC-WAVES', 'BTC-NMR', 'BTC-XEM', 'BTC-QTUM', 'BTC-BAT', 'BTC-LSK', 'BTC-STEEM', 'BTC-DOGE', 'BTC-BNT', 'BTC-XLM', 'BTC-ARDR', 'BTC-ARK', 'BTC-STORJ', 'BTC-GRS', 'BTC-REP', 'BTC-RLC', 'USDT-BTC', 'USDT-ETH', 'USDT-XRP', 'USDT-ETC', 'KRW-NEO', 'KRW-MTL', 'KRW-XRP', 'KRW-ETC', 'KRW-SNT', 'KRW-WAVES', 'KRW-XEM', 'KRW-QTUM', 'KRW-LSK', 'KRW-STEEM', 'KRW-XLM', 'KRW-ARDR', 'KRW-ARK', 'KRW-STORJ', 'KRW-GRS', 'KRW-REP', 'KRW-ADA', 'BTC-ADA', 'BTC-MANA', 'KRW-SBD', 'BTC-SBD', 'KRW-POWR', 'BTC-POWR', 'KRW-BTG', 'USDT-ADA', 'BTC-DNT', 'BTC-ZRX', 'BTC-TRX', 'BTC-TUSD', 'BTC-LRC', 'KRW-ICX', 'KRW-EOS', 'USDT-TUSD', 'KRW-TRX', 'BTC-POLYX', 'USDT-SC', 'USDT-TRX', 'KRW-SC', 'KRW-ONT', 'KRW-ZIL', 'KRW-POLYX', 'KRW-ZRX', 'KRW-LOOM', 'BTC-BCH', 'USDT-BCH', 'KRW-BCH', 'BTC-HIFI', 'BTC-LOOM', 'KRW-BAT', 'KRW-IOST', 'BTC-RFR', 'KRW-RFR', 'USDT-DGB', 'KRW-CVC', 'KRW-IQ', 'KRW-IOTA', 'BTC-RVN', 'BTC-GO', 'BTC-UPP', 'BTC-ENJ', 'KRW-HIFI', 'KRW-ONG', 'KRW-GAS', 'BTC-MTL', 'KRW-UPP', 'KRW-ELF', 'USDT-DOGE', 'USDT-ZRX', 'USDT-RVN', 'USDT-BAT', 'KRW-KNC', 'BTC-MOC', 'BTC-ZIL', 'KRW-BSV', 'BTC-BSV', 'BTC-IOST', 'KRW-THETA', 'BTC-DENT', 'KRW-QKC', 'BTC-ELF', 'KRW-BTT', 'BTC-IOTX', 'BTC-SOLVE', 'BTC-NKN', 'BTC-META', 'KRW-MOC', 'BTC-ANKR', 'BTC-CRO', 'KRW-ENJ', 'KRW-TFUEL', 'KRW-MANA', 'KRW-ANKR', 'BTC-ORBS', 'BTC-AERGO', 'KRW-AERGO', 'KRW-ATOM', 'KRW-TT', 'KRW-CRE', 'BTC-ATOM', 'BTC-STPT', 'KRW-MBL', 'BTC-EOS', 'BTC-DAI', 'BTC-MKR', 'BTC-BORA', 'KRW-WAXP', 'BTC-WAXP', 'KRW-HBAR', 'KRW-MED', 'BTC-MED', 'BTC-MLK', 'KRW-MLK', 'KRW-STPT', 'BTC-VET', 'KRW-ORBS', 'BTC-CHZ', 'KRW-VET', 'BTC-FX', 'BTC-OGN', 'KRW-CHZ', 'BTC-XTZ', 'BTC-HIVE', 'BTC-HBD', 'BTC-OBSR', 'BTC-DKA', 'KRW-STMX', 'BTC-STMX', 'BTC-AHT', 'KRW-DKA', 'BTC-LINK', 'KRW-HIVE', 'KRW-KAVA', 'BTC-KAVA', 'KRW-AHT', 'KRW-LINK', 'KRW-XTZ', 'KRW-BORA', 'BTC-JST', 'BTC-CHR', 'BTC-DAD', 'BTC-TON', 'KRW-JST', 'BTC-CTSI', 'BTC-DOT', 'KRW-CRO', 'BTC-COMP', 'BTC-SXP', 'BTC-HUNT', 'KRW-TON', 'BTC-ONIT', 'BTC-CRV', 'BTC-ALGO', 'BTC-RSR', 'KRW-SXP', 'BTC-OXT', 'BTC-PLA', 'KRW-HUNT', 'BTC-MARO', 'BTC-SAND', 'BTC-SUN', 'KRW-PLA', 'KRW-DOT', 'BTC-QTCON', 'BTC-MVL', 'KRW-MVL', 'BTC-REI', 'BTC-AQT', 'BTC-AXS', 'BTC-STRAX', 'KRW-STRAX', 'KRW-AQT', 'BTC-GLM', 'KRW-GLM', 'BTC-FCT2', 'BTC-SSX', 'KRW-SSX', 'KRW-META', 'KRW-FCT2', 'BTC-FIL', 'BTC-UNI', 'BTC-INJ', 'BTC-PROM', 'BTC-VAL', 'BTC-PSG', 'BTC-JUV', 'BTC-CBK', 'BTC-FOR', 'KRW-CBK', 'BTC-BFC', 'BTC-LINA', 'BTC-HUM', 'BTC-CELO', 'KRW-SAND', 'KRW-HUM', 'BTC-IQ', 'BTC-STX', 'KRW-DOGE', 'BTC-NEAR', 'BTC-AUCTION', 'BTC-DAWN', 'BTC-FLOW', 'BTC-STRK', 'KRW-STRK', 'BTC-PUNDIX', 'KRW-PUNDIX', 'KRW-FLOW', 'KRW-DAWN', 'KRW-AXS', 'KRW-STX', 'BTC-GRT', 'BTC-SNX', 'BTC-USDP', 'KRW-XEC', 'KRW-SOL', 'BTC-SOL', 'KRW-MATIC', 'BTC-MATIC', 'KRW-AAVE', 'KRW-1INCH', 'BTC-AAVE', 'BTC-1INCH', 'BTC-MASK', 'KRW-ALGO', 'BTC-AUDIO', 'KRW-NEAR', 'BTC-YGG', 'BTC-GTC', 'BTC-OCEAN', 'BTC-CTC', 'BTC-LPT', 'KRW-AVAX', 'BTC-AVAX', 'BTC-IMX', 'BTC-RNDR', 'BTC-RLY', 'KRW-T', 'BTC-T', 'KRW-CELO', 'BTC-RAD', 'BTC-AGLD', 'BTC-API3', 'BTC-ARPA', 'BTC-ENS', 'KRW-GMT', 'BTC-GMT', 'BTC-APE', 'BTC-RAY', 'KRW-APT', 'BTC-APT', 'BTC-ACM', 'BTC-AFC', 'BTC-ATM', 'BTC-BAR', 'BTC-CITY', 'BTC-INTER', 'BTC-NAP', 'KRW-SHIB', 'BTC-GAL', 'BTC-ASTR', 'BTC-BLUR', 'KRW-MASK', 'BTC-ACS', 'BTC-MAGIC', 'KRW-ARB', 'BTC-ARB', 'KRW-EGLD', 'BTC-EGLD', 'KRW-SUI', 'BTC-SUI']

In [4]:
# 업비트가 지원하는 암호화폐 목록 중 특정 시장(fiat)에 매매가 가능한 목록만 얻어올 수 있습니다. 
# KRW/BTC/USDT 시장을 조회할 수 있습니다.

print(pyupbit.get_tickers(fiat="KRW"))

['KRW-BTC', 'KRW-ETH', 'KRW-NEO', 'KRW-MTL', 'KRW-XRP', 'KRW-ETC', 'KRW-SNT', 'KRW-WAVES', 'KRW-XEM', 'KRW-QTUM', 'KRW-LSK', 'KRW-STEEM', 'KRW-XLM', 'KRW-ARDR', 'KRW-ARK', 'KRW-STORJ', 'KRW-GRS', 'KRW-REP', 'KRW-ADA', 'KRW-SBD', 'KRW-POWR', 'KRW-BTG', 'KRW-ICX', 'KRW-EOS', 'KRW-TRX', 'KRW-SC', 'KRW-ONT', 'KRW-ZIL', 'KRW-POLYX', 'KRW-ZRX', 'KRW-LOOM', 'KRW-BCH', 'KRW-BAT', 'KRW-IOST', 'KRW-RFR', 'KRW-CVC', 'KRW-IQ', 'KRW-IOTA', 'KRW-HIFI', 'KRW-ONG', 'KRW-GAS', 'KRW-UPP', 'KRW-ELF', 'KRW-KNC', 'KRW-BSV', 'KRW-THETA', 'KRW-QKC', 'KRW-BTT', 'KRW-MOC', 'KRW-ENJ', 'KRW-TFUEL', 'KRW-MANA', 'KRW-ANKR', 'KRW-AERGO', 'KRW-ATOM', 'KRW-TT', 'KRW-CRE', 'KRW-MBL', 'KRW-WAXP', 'KRW-HBAR', 'KRW-MED', 'KRW-MLK', 'KRW-STPT', 'KRW-ORBS', 'KRW-VET', 'KRW-CHZ', 'KRW-STMX', 'KRW-DKA', 'KRW-HIVE', 'KRW-KAVA', 'KRW-AHT', 'KRW-LINK', 'KRW-XTZ', 'KRW-BORA', 'KRW-JST', 'KRW-CRO', 'KRW-TON', 'KRW-SXP', 'KRW-HUNT', 'KRW-PLA', 'KRW-DOT', 'KRW-MVL', 'KRW-STRAX', 'KRW-AQT', 'KRW-GLM', 'KRW-SSX', 'KRW-META', 'KRW-FCT2', 'KRW-CBK', 'KRW-SAND', 'KRW-HUM', 'KRW-DOGE', 'KRW-STRK', 'KRW-PUNDIX', 'KRW-FLOW', 'KRW-DAWN', 'KRW-AXS', 'KRW-STX', 'KRW-XEC', 'KRW-SOL', 'KRW-MATIC', 'KRW-AAVE', 'KRW-1INCH', 'KRW-ALGO', 'KRW-NEAR', 'KRW-AVAX', 'KRW-T', 'KRW-CELO', 'KRW-GMT', 'KRW-APT', 'KRW-SHIB', 'KRW-MASK', 'KRW-ARB', 'KRW-EGLD', 'KRW-SUI']

### ticker Name 가져오기

In [5]:
import pandas as pd
tickers = pyupbit.get_tickers(fiat='KRW', verbose=True)
df_tickers = pd.DataFrame(tickers)
df_tickers.rename(columns = {'market' : 'ticker','korean_name' : 'ticker_name','english_name' : 'ticker_ename'}, inplace = True)
df_tickers

       ticker ticker_name  ticker_ename
0     KRW-BTC        비트코인       Bitcoin
1     KRW-ETH        이더리움      Ethereum
2     KRW-NEO          네오           NEO
3     KRW-MTL          메탈         Metal
4     KRW-XRP          리플        Ripple
..        ...         ...           ...
110  KRW-SHIB        시바이누     Shiba Inu
111  KRW-MASK     마스크네트워크  Mask Network
112   KRW-ARB        아비트럼      Arbitrum
113  KRW-EGLD      멀티버스엑스    MultiversX
114   KRW-SUI          수이           Sui

[115 rows x 3 columns]

In [6]:
df_tickers[df_tickers['ticker_name'].str.contains("아비트럼")]

      ticker ticker_name ticker_ename
112  KRW-ARB        아비트럼     Arbitrum

In [7]:
interest_ticker_name = ['비트코인','이더리움','도지코인','리플','아비트럼']

In [8]:
df_interest_tickers = df_tickers[(df_tickers['ticker_name'].isin(interest_ticker_name))]
df_interest_tickers

       ticker ticker_name ticker_ename
0     KRW-BTC        비트코인      Bitcoin
1     KRW-ETH        이더리움     Ethereum
4     KRW-XRP          리플       Ripple
91   KRW-DOGE        도지코인     Dogecoin
112   KRW-ARB        아비트럼     Arbitrum

In [9]:
interest_tickers = df_interest_tickers['ticker'].tolist()
interest_tickers_name = df_interest_tickers['ticker_name'].tolist()
interest_tickers, interest_tickers_name

(['KRW-BTC', 'KRW-ETH', 'KRW-XRP', 'KRW-DOGE', 'KRW-ARB'],
 ['비트코인', '이더리움', '리플', '도지코인', '아비트럼'])

## 최근 체결가격
get_current_price 함수는 암호화폐의 현재가를 얻어옵니다. 함수로 티커를 넣어줘야 합니다.

In [10]:
# print(pyupbit.get_current_price("KRW-BTC"))
print(pyupbit.get_current_price(interest_tickers[0]))

35826000.0

리스트에 여러 개의 티커를 입력해 한 번에 현재가를 조회할 수 있습니다.

In [11]:
df_ticker_price = pd.DataFrame(list(pyupbit.get_current_price(interest_tickers).items()))
df_ticker_price

          0           1
0   KRW-BTC  35826000.0
1   KRW-ETH   2435000.0
2   KRW-XRP       609.0
3  KRW-DOGE        95.4
4   KRW-ARB      1500.0

In [12]:
df_ticker_price.rename(columns = {0 : 'ticker',1 : 'price'}, inplace = True)
df_ticker_price

     ticker       price
0   KRW-BTC  35826000.0
1   KRW-ETH   2435000.0
2   KRW-XRP       609.0
3  KRW-DOGE        95.4
4   KRW-ARB      1500.0

In [13]:
# print(pyupbit.get_current_price(["KRW-BTC", "KRW-XRP"]))
print(pyupbit.get_current_price(interest_tickers))

{'KRW-BTC': 35827000.0, 'KRW-ETH': 2435000.0, 'KRW-XRP': 609.0, 'KRW-DOGE': 95.4, 'KRW-ARB': 1500.0}

차트 데이터
get_ohlcv 함수는 고가/시가/저가/종가/거래량을 DataFrame으로 반환합니다.

In [14]:
df = pyupbit.get_ohlcv("KRW-BTC")
df

,open,high,low,close,volume,value
2022-11-06 09:00:00,29756000.0,29869000.0,29400000.0,29473000.0,3135.465388,9.305541e+10
2022-11-07 09:00:00,29470000.0,29658000.0,28790000.0,28945000.0,5212.344719,1.521590e+11
2022-11-08 09:00:00,28945000.0,29020000.0,25842000.0,26650000.0,21680.492361,5.947722e+11
2022-11-09 09:00:00,26652000.0,26832000.0,22564000.0,22919000.0,22296.852651,5.527159e+11
2022-11-10 09:00:00,22924000.0,25120000.0,22840000.0,24779000.0,20710.252778,4.980172e+11
...,...,...,...,...,...,...
2023-05-20 09:00:00,36156000.0,36475000.0,36119000.0,36385000.0,1174.320819,4.256180e+10
2023-05-21 09:00:00,36404000.0,36618000.0,36048000.0,36051000.0,1573.059469,5.715309e+10
2023-05-22 09:00:00,36057000.0,36200000.0,35709000.0,35947000.0,2597.921922,9.332619e+10
2023-05-23 09:00:00,35947000.0,36660000.0,35841000.0,36381000.0,2510.275788,9.128479e+10
2023-05-24 09:00:00,36382000.0,36430000.0,35800000.0,35827000.0,2386.603936,8.600023e+10

count 파라미터는 조회 갯수를 지정합니다. 최근 영업일 부터 이전 count만큼의 이전 영업일까지 조회합니다. count 파라미터를 입력하지 않을 경우 default value는 200입니다.

In [15]:
df = pyupbit.get_ohlcv("KRW-BTC", count=5)
df

,open,high,low,close,volume,value
2023-05-20 09:00:00,36156000.0,36475000.0,36119000.0,36385000.0,1174.320819,4.256180e+10
2023-05-21 09:00:00,36404000.0,36618000.0,36048000.0,36051000.0,1573.059469,5.715309e+10
2023-05-22 09:00:00,36057000.0,36200000.0,35709000.0,35947000.0,2597.921922,9.332619e+10
2023-05-23 09:00:00,35947000.0,36660000.0,35841000.0,36381000.0,2510.275788,9.128479e+10
2023-05-24 09:00:00,36382000.0,36430000.0,35800000.0,35824000.0,2386.606136,8.600031e+10

get_ohlcv 함수는 웹 서버로 200개씩 데이터를 요청합니다. 

200개 이상의 데이터를 요청한다면 0.1(default) 주기로 데이터를 수집합니다. 

다른 API와 함께 사용한다면 조회 주기(period)를 늘려야 합니다. 

이 때 period 옵션을 사용해서 주기를 초(second) 단위로 지정할 수 있습니다. 

조회하는 데이터의 갯수가 200개 이하라면 period 옵션은 무시됩니다.

In [16]:
df = pyupbit.get_ohlcv("KRW-BTC", count=600, period=1)
df

,open,high,low,close,volume,value
2021-10-02 09:00:00,58348000.0,58999000.0,57660000.0,58228000.0,4852.968580,2.830123e+11
2021-10-03 09:00:00,58238000.0,59390000.0,57250000.0,58567000.0,4489.395790,2.620021e+11
2021-10-04 09:00:00,58466000.0,60331000.0,57346000.0,60020000.0,6699.988769,3.923047e+11
2021-10-05 09:00:00,60020000.0,62500000.0,59547000.0,61666000.0,9846.156364,5.962485e+11
2021-10-06 09:00:00,61666000.0,67636000.0,61113000.0,67000000.0,13462.737688,8.645847e+11
...,...,...,...,...,...,...
2023-05-20 09:00:00,36156000.0,36475000.0,36119000.0,36385000.0,1174.320819,4.256180e+10
2023-05-21 09:00:00,36404000.0,36618000.0,36048000.0,36051000.0,1573.059469,5.715309e+10
2023-05-22 09:00:00,36057000.0,36200000.0,35709000.0,35947000.0,2597.921922,9.332619e+10
2023-05-23 09:00:00,35947000.0,36660000.0,35841000.0,36381000.0,2510.275788,9.128479e+10
2023-05-24 09:00:00,36382000.0,36430000.0,35800000.0,35827000.0,2386.738993,8.600507e+10

interval 파라미터는 조회단위를 지정합니다. 파라미터에는 다음 값을 지정할 수 있습니다.

일봉: day
분봉: minute1/minute3/minute5/minute10/minute15/minute30/minute60/minute240/
주봉: week
월봉: month

In [17]:
print(pyupbit.get_ohlcv("KRW-BTC", interval="day"))             # 일봉 데이터 (5일)
print(pyupbit.get_ohlcv("KRW-BTC", interval="minute1"))         # 분봉 데이터   
print(pyupbit.get_ohlcv("KRW-BTC", interval="week"))            # 주봉 데이터

                           open        high         low       close  \
2022-11-06 09:00:00  29756000.0  29869000.0  29400000.0  29473000.0
2022-11-07 09:00:00  29470000.0  29658000.0  28790000.0  28945000.0
2022-11-08 09:00:00  28945000.0  29020000.0  25842000.0  26650000.0
2022-11-09 09:00:00  26652000.0  26832000.0  22564000.0  22919000.0
2022-11-10 09:00:00  22924000.0  25120000.0  22840000.0  24779000.0
...                         ...         ...         ...         ...
2023-05-20 09:00:00  36156000.0  36475000.0  36119000.0  36385000.0
2023-05-21 09:00:00  36404000.0  36618000.0  36048000.0  36051000.0
2023-05-22 09:00:00  36057000.0  36200000.0  35709000.0  35947000.0
2023-05-23 09:00:00  35947000.0  36660000.0  35841000.0  36381000.0
2023-05-24 09:00:00  36382000.0  36430000.0  35800000.0  35827000.0

                           volume         value
2022-11-06 09:00:00   3135.465388  9.305541e+10
2022-11-07 09:00:00   5212.344719  1.521590e+11
2022-11-08 09:00:00  21680.492361  5.947722e+11
2022-11-09 09:00:00  22296.852651  5.527159e+11
2022-11-10 09:00:00  20710.252778  4.980172e+11
...                           ...           ...
2023-05-20 09:00:00   1174.320819  4.256180e+10
2023-05-21 09:00:00   1573.059469  5.715309e+10
2023-05-22 09:00:00   2597.921922  9.332619e+10
2023-05-23 09:00:00   2510.275788  9.128479e+10
2023-05-24 09:00:00   2386.822726  8.600807e+10

[200 rows x 6 columns]
                           open        high         low       close    volume  \
2023-05-24 18:46:00  35989000.0  35994000.0  35984000.0  35985000.0  1.066177
2023-05-24 18:47:00  35985000.0  35985000.0  35979000.0  35984000.0  0.565160
2023-05-24 18:48:00  35982000.0  35983000.0  35952000.0  35954000.0  0.321980
2023-05-24 18:49:00  35954000.0  35954000.0  35951000.0  35951000.0  1.060590
2023-05-24 18:50:00  35954000.0  35954000.0  35946000.0  35947000.0  1.396197
...                         ...         ...         ...         ...       ...
2023-05-24 22:01:00  35834000.0  35844000.0  35832000.0  35832000.0  0.951264
2023-05-24 22:02:00  35834000.0  35837000.0  35830000.0  35831000.0  1.161868
2023-05-24 22:03:00  35833000.0  35843000.0  35830000.0  35833000.0  0.739220
2023-05-24 22:04:00  35834000.0  35843000.0  35825000.0  35827000.0  1.116551
2023-05-24 22:05:00  35825000.0  35829000.0  35824000.0  35827000.0  1.073087

                            value
2023-05-24 18:46:00  3.837165e+07
2023-05-24 18:47:00  2.033588e+07
2023-05-24 18:48:00  1.158172e+07
2023-05-24 18:49:00  3.813066e+07
2023-05-24 18:50:00  5.019019e+07
...                           ...
2023-05-24 22:01:00  3.409356e+07
2023-05-24 22:02:00  4.163095e+07
2023-05-24 22:03:00  2.648722e+07
2023-05-24 22:04:00  4.000719e+07
2023-05-24 22:05:00  3.844362e+07

[200 rows x 6 columns]
                           open        high         low       close  \
2019-07-29 09:00:00  11312000.0  13036000.0  11146000.0  12958000.0
2019-08-05 09:00:00  12958000.0  14570000.0  12948000.0  13876000.0
2019-08-12 09:00:00  13876000.0  13893000.0  11535000.0  12509000.0
2019-08-19 09:00:00  12512000.0  13211000.0  11870000.0  12218000.0
2019-08-26 09:00:00  12218000.0  12680000.0  11380000.0  11768000.0
...                         ...         ...         ...         ...
2023-04-24 09:00:00  36802000.0  39850000.0  36200000.0  39149000.0
2023-05-01 09:00:00  39149000.0  39435000.0  37372000.0  38143000.0
2023-05-08 09:00:00  38152000.0  38369000.0  35262000.0  36415000.0
2023-05-15 09:00:00  36420000.0  37200000.0  35800000.0  36051000.0
2023-05-22 09:00:00  36057000.0  36660000.0  35709000.0  35827000.0

                           volume         value
2019-07-29 09:00:00  50606.310737  6.142918e+11
2019-08-05 09:00:00  88988.614352  1.241042e+12
2019-08-12 09:00:00  75500.256251  9.477838e+11
2019-08-19 09:00:00  55535.662260  6.927944e+11
2019-08-26 09:00:00  33480.834465  3.992309e+11
...                           ...           ...
2023-04-24 09:00:00  32897.087555  1.262498e+12
2023-05-01 09:00:00  32025.125553  1.233224e+12
2023-05-08 09:00:00  26277.407283  9.681124e+11
2023-05-15 09:00:00  16701.360315  6.085909e+11
2023-05-22 09:00:00   7495.020436  2.706191e+11

[200 rows x 6 columns]

In [18]:
pyupbit.get_ohlcv("KRW-BTC", interval="minute60")             # 일봉 데이터 (5일)

,open,high,low,close,volume,value
2023-05-16 15:00:00,36516000.0,36520000.0,36430000.0,36487000.0,53.102770,1.937207e+09
2023-05-16 16:00:00,36490000.0,36724000.0,36487000.0,36701000.0,110.398253,4.045753e+09
2023-05-16 17:00:00,36701000.0,36768000.0,36600000.0,36694000.0,105.009697,3.851611e+09
2023-05-16 18:00:00,36694000.0,36696000.0,36527000.0,36530000.0,69.709609,2.552340e+09
2023-05-16 19:00:00,36535000.0,36588000.0,36420000.0,36480000.0,102.260988,3.730985e+09
...,...,...,...,...,...,...
2023-05-24 18:00:00,35933000.0,36052000.0,35917000.0,35941000.0,75.616718,2.719862e+09
2023-05-24 19:00:00,35941000.0,35954000.0,35888000.0,35900000.0,67.866260,2.437187e+09
2023-05-24 20:00:00,35900000.0,35925000.0,35855000.0,35900000.0,81.111621,2.911185e+09
2023-05-24 21:00:00,35900000.0,35917000.0,35813000.0,35835000.0,113.021100,4.052309e+09
2023-05-24 22:00:00,35835000.0,35857000.0,35824000.0,35827000.0,7.158928,2.565393e+08

to 파라미터에 입력된 이전 단위(interval)까지의 데이터를 데이터프레임으로 얻을 수 있습니다. 

예를 들어, 다음 코드는 2020-10-10일 보다 하루 전인 2020-10-09을 까지의 200개 데이터를 조회합니다. 

단위를 설정하지 않았으니 단위는 일봉입니다.

In [19]:
print(pyupbit.get_ohlcv("KRW-BTC", to="20201010"))

                           open        high         low       close  \
2020-03-24 09:00:00   8047000.0   8412000.0   7892000.0   8367000.0
2020-03-25 09:00:00   8362000.0   8538000.0   8080000.0   8271000.0
2020-03-26 09:00:00   8276000.0   8344000.0   8091000.0   8272000.0
2020-03-27 09:00:00   8281000.0   8365000.0   7820000.0   7880000.0
2020-03-28 09:00:00   7883000.0   7885000.0   7403000.0   7656000.0
...                         ...         ...         ...         ...
2020-10-05 09:00:00  12446000.0  12545000.0  12385000.0  12536000.0
2020-10-06 09:00:00  12536000.0  12600000.0  12330000.0  12418000.0
2020-10-07 09:00:00  12408000.0  12435000.0  12337000.0  12423000.0
2020-10-08 09:00:00  12422000.0  12680000.0  12280000.0  12582000.0
2020-10-09 09:00:00  12582000.0  12750000.0  12503000.0  12638000.0

                           volume         value
2020-03-24 09:00:00  15158.039589  1.244216e+11
2020-03-25 09:00:00  12629.118008  1.043876e+11
2020-03-26 09:00:00   6160.813270  5.057246e+10
2020-03-27 09:00:00   6749.553055  5.514416e+10
2020-03-28 09:00:00   7702.102337  5.883592e+10
...                           ...           ...
2020-10-05 09:00:00   1578.027830  1.965762e+10
2020-10-06 09:00:00   1745.875329  2.175526e+10
2020-10-07 09:00:00   1357.358223  1.679513e+10
2020-10-08 09:00:00   2422.119262  3.014610e+10
2020-10-09 09:00:00   2245.607475  2.834224e+10

[200 rows x 6 columns]

interval을 minute1로 지정한 경우 2020-10-10 보다 1분 이전 (2020-10-09 23:59:00)까지의 200개 데이터를 반환합니다.

In [20]:
print(pyupbit.get_ohlcv("KRW-BTC", interval="minute1", to="20201010"))

                           open        high         low       close    volume  \
2020-10-10 05:40:00  12635000.0  12635000.0  12635000.0  12635000.0  0.125389
2020-10-10 05:41:00  12635000.0  12635000.0  12635000.0  12635000.0  0.219599
2020-10-10 05:42:00  12635000.0  12636000.0  12634000.0  12634000.0  0.840987
2020-10-10 05:43:00  12634000.0  12636000.0  12630000.0  12630000.0  1.103631
2020-10-10 05:44:00  12636000.0  12636000.0  12636000.0  12636000.0  0.189064
...                         ...         ...         ...         ...       ...
2020-10-10 08:55:00  12649000.0  12649000.0  12639000.0  12649000.0  2.107042
2020-10-10 08:56:00  12642000.0  12649000.0  12642000.0  12643000.0  0.286805
2020-10-10 08:57:00  12649000.0  12655000.0  12644000.0  12645000.0  1.575202
2020-10-10 08:58:00  12653000.0  12653000.0  12646000.0  12646000.0  0.932605
2020-10-10 08:59:00  12645000.0  12645000.0  12638000.0  12638000.0  1.435213

                            value
2020-10-10 05:40:00  1.584290e+06
2020-10-10 05:41:00  2.774633e+06
2020-10-10 05:42:00  1.062532e+07
2020-10-10 05:43:00  1.393890e+07
2020-10-10 05:44:00  2.389014e+06
...                           ...
2020-10-10 08:55:00  2.664096e+07
2020-10-10 08:56:00  3.626221e+06
2020-10-10 08:57:00  1.992955e+07
2020-10-10 08:58:00  1.179381e+07
2020-10-10 08:59:00  1.814452e+07

[200 rows x 6 columns]

기준 시간 단위로 shift된 일봉을 계산할 수도 있습니다.

예) 2019-06-01 12:00:00 ~ 2019-06-02 11:59:59

In [21]:
pyupbit.get_ohlcv("KRW-BTC", interval="minute1", to="20201010",count=24*60-1)

,open,high,low,close,volume,value
2020-10-09 09:00:00,12582000.0,12583000.0,12555000.0,12583000.0,2.742334,3.444494e+07
2020-10-09 09:01:00,12571000.0,12582000.0,12571000.0,12582000.0,1.308766,1.646596e+07
2020-10-09 09:02:00,12572000.0,12589000.0,12571000.0,12583000.0,1.861521,2.342023e+07
2020-10-09 09:03:00,12582000.0,12589000.0,12575000.0,12579000.0,1.810934,2.278831e+07
2020-10-09 09:04:00,12579000.0,12588000.0,12578000.0,12588000.0,0.495185,6.231272e+06
...,...,...,...,...,...,...
2020-10-10 08:55:00,12649000.0,12649000.0,12639000.0,12649000.0,2.107042,2.664096e+07
2020-10-10 08:56:00,12642000.0,12649000.0,12642000.0,12643000.0,0.286805,3.626221e+06
2020-10-10 08:57:00,12649000.0,12655000.0,12644000.0,12645000.0,1.575202,1.992955e+07
2020-10-10 08:58:00,12653000.0,12653000.0,12646000.0,12646000.0,0.932605,1.179381e+07
2020-10-10 08:59:00,12645000.0,12645000.0,12638000.0,12638000.0,1.435213,1.814452e+07

In [22]:
print(pyupbit.get_daily_ohlcv_from_base("KRW-BTC", base=12))

                           open        high         low       close  \
2023-05-16 12:00:00  36516000.0  36768000.0  36344000.0  36460000.0
2023-05-17 12:00:00  36460000.0  36857000.0  35938000.0  36650000.0
2023-05-18 12:00:00  36662000.0  36920000.0  35800000.0  36118000.0
2023-05-19 12:00:00  36118000.0  36486000.0  35950000.0  36166000.0
2023-05-20 12:00:00  36190000.0  36618000.0  36119000.0  36535000.0
2023-05-21 12:00:00  36535000.0  36580000.0  35709000.0  35803000.0
2023-05-22 12:00:00  35804000.0  36200000.0  35730000.0  36165000.0
2023-05-23 12:00:00  36165000.0  36660000.0  36110000.0  36348000.0
2023-05-24 12:00:00  36348000.0  36348000.0  35800000.0  35825000.0

                          volume
2023-05-16 12:00:00  1702.090400
2023-05-17 12:00:00  3094.923998
2023-05-18 12:00:00  3561.946467
2023-05-19 12:00:00  2330.188008
2023-05-20 12:00:00  1188.169422
2023-05-21 12:00:00  2077.343431
2023-05-22 12:00:00  2224.846674
2023-05-23 12:00:00  2638.593234
2023-05-24 12:00:00  1864.279146

C:\Users\USER\.conda\envs\test01\lib\site-packages\pyupbit\quotation_api.py:224: FutureWarning: 'base' in .resample() and in Grouper() is deprecated.
The new arguments that you should use are 'offset' or 'origin'.

>>> df.resample(freq="3s", base=2)

becomes:

>>> df.resample(freq="3s", offset="2s")

  df = df.resample('24H', base=base).agg({

예) 2019-06-01 13:00:00 ~ 2019-06-02 12:59:59

In [23]:
print(pyupbit.get_daily_ohlcv_from_base("KRW-BTC", base=13))

                           open        high         low       close  \
2023-05-16 13:00:00  36516000.0  36768000.0  36344000.0  36430000.0
2023-05-17 13:00:00  36430000.0  36857000.0  35938000.0  36655000.0
2023-05-18 13:00:00  36658000.0  36920000.0  35800000.0  36141000.0
2023-05-19 13:00:00  36161000.0  36486000.0  35950000.0  36200000.0
2023-05-20 13:00:00  36200000.0  36618000.0  36119000.0  36566000.0
2023-05-21 13:00:00  36567000.0  36580000.0  35709000.0  35799000.0
2023-05-22 13:00:00  35799000.0  36451000.0  35730000.0  36372000.0
2023-05-23 13:00:00  36378000.0  36660000.0  35869000.0  35924000.0
2023-05-24 13:00:00  35925000.0  36052000.0  35800000.0  35825000.0

                          volume
2023-05-16 13:00:00  1812.540960
2023-05-17 13:00:00  3071.348277
2023-05-18 13:00:00  3588.795017
2023-05-19 13:00:00  2246.346870
2023-05-20 13:00:00  1222.591856
2023-05-21 13:00:00  2125.474823
2023-05-22 13:00:00  2419.755189
2023-05-23 13:00:00  2890.115197
2023-05-24 13:00:00  1305.441043

C:\Users\USER\.conda\envs\test01\lib\site-packages\pyupbit\quotation_api.py:224: FutureWarning: 'base' in .resample() and in Grouper() is deprecated.
The new arguments that you should use are 'offset' or 'origin'.

>>> df.resample(freq="3s", base=2)

becomes:

>>> df.resample(freq="3s", offset="2s")

  df = df.resample('24H', base=base).agg({

In [24]:
pyupbit.get_daily_ohlcv_from_base("KRW-BTC", base=13)

C:\Users\USER\.conda\envs\test01\lib\site-packages\pyupbit\quotation_api.py:224: FutureWarning: 'base' in .resample() and in Grouper() is deprecated.
The new arguments that you should use are 'offset' or 'origin'.

>>> df.resample(freq="3s", base=2)

becomes:

>>> df.resample(freq="3s", offset="2s")

  df = df.resample('24H', base=base).agg({

,open,high,low,close,volume
2023-05-16 13:00:00,36516000.0,36768000.0,36344000.0,36430000.0,1812.540960
2023-05-17 13:00:00,36430000.0,36857000.0,35938000.0,36655000.0,3071.348277
2023-05-18 13:00:00,36658000.0,36920000.0,35800000.0,36141000.0,3588.795017
2023-05-19 13:00:00,36161000.0,36486000.0,35950000.0,36200000.0,2246.346870
2023-05-20 13:00:00,36200000.0,36618000.0,36119000.0,36566000.0,1222.591856
2023-05-21 13:00:00,36567000.0,36580000.0,35709000.0,35799000.0,2125.474823
2023-05-22 13:00:00,35799000.0,36451000.0,35730000.0,36372000.0,2419.755189
2023-05-23 13:00:00,36378000.0,36660000.0,35869000.0,35924000.0,2890.115197
2023-05-24 13:00:00,35925000.0,36052000.0,35800000.0,35825000.0,1305.441043

매수/매도 호가
get_orderbook 함수는 매수/매도 호가 정보를 조회합니다.

In [25]:
print(pyupbit.get_orderbook(ticker="KRW-BTC"))

{'market': 'KRW-BTC', 'timestamp': 1684933574799, 'total_ask_size': 3.7687406300000004, 'total_bid_size': 5.383535650000001, 'orderbook_units': [{'ask_price': 35826000.0, 'bid_price': 35825000.0, 'ask_size': 0.25223103, 'bid_size': 0.11443174}, {'ask_price': 35829000.0, 'bid_price': 35823000.0, 'ask_size': 0.27903713, 'bid_size': 0.20056425}, {'ask_price': 35830000.0, 'bid_price': 35822000.0, 'ask_size': 0.09745782, 'bid_size': 0.41210926}, {'ask_price': 35832000.0, 'bid_price': 35821000.0, 'ask_size': 1.85566085, 'bid_size': 1.01655675}, {'ask_price': 35833000.0, 'bid_price': 35820000.0, 'ask_size': 0.05615329, 'bid_size': 1.17967754}, {'ask_price': 35842000.0, 'bid_price': 35819000.0, 'ask_size': 0.00907442, 'bid_size': 0.01238033}, {'ask_price': 35843000.0, 'bid_price': 35818000.0, 'ask_size': 0.19296178, 'bid_size': 0.02404821}, {'ask_price': 35844000.0, 'bid_price': 35817000.0, 'ask_size': 0.02617884, 'bid_size': 0.31897891}, {'ask_price': 35854000.0, 'bid_price': 35816000.0, 'ask_size': 0.005, 'bid_size': 0.27047287}, {'ask_price': 35858000.0, 'bid_price': 35815000.0, 'ask_size': 0.4, 'bid_size': 0.37525887}, {'ask_price': 35859000.0, 'bid_price': 35814000.0, 'ask_size': 0.344, 'bid_size': 0.04018016}, {'ask_price': 35860000.0, 'bid_price': 35813000.0, 'ask_size': 0.01816259, 'bid_size': 0.24765865}, {'ask_price': 35861000.0, 'bid_price': 35812000.0, 'ask_size': 0.00151174, 'bid_size': 0.21924656}, {'ask_price': 35862000.0, 'bid_price': 35811000.0, 'ask_size': 0.09297479, 'bid_size': 0.35744176}, {'ask_price': 35864000.0, 'bid_price': 35810000.0, 'ask_size': 0.13833635, 'bid_size': 0.59452979}]}

리스트 안에 딕셔너리로 호가정보가 들어있습니다.

market : 암호화폐 티커
timestamp : 조회시간 (단위 ms)
orderbook_units : 매도호가/매수호가 정보
[{'market': 'KRW-BTC', 'timestamp': 1532118943687, 'total_ask_size': 17.08116346, 'total_bid_size': 3.07150192, 'orderbook_units': [{'ask_price': 8390000.0, 'bid_price': 8389000.0, 'ask_size': 3.16057415, 'bid_size': 0.5515136}, {'ask_price': 8392000.0, 'bid_price': 8387000.0, 'ask_size': 0.71247596, 'bid_size': 0.95157819}, {'ask_price': 8393000.0, 'bid_price': 8386000.0, 'ask_size': 3.70536818, 'bid_size': 0.15824907}, {'ask_price': 8398000.0, 'bid_price': 8385000.0, 'ask_size': 0.00481809, 'bid_size': 0.00119147}, {'ask_price': 8399000.0, 'bid_price': 8383000.0, 'ask_size': 1.1228337, 'bid_size': 0.05}, {'ask_price': 8400000.0, 'bid_price': 8380000.0, 'ask_size': 0.48354827, 'bid_size': 0.00613734}, {'ask_price': 8401000.0, 'bid_price': 8375000.0, 'ask_size': 0.00433629, 'bid_size': 0.05}, {'ask_price': 8402000.0, 'bid_price': 8374000.0, 'ask_size': 2.7434153, 'bid_size': 0.32104953}, {'ask_price': 8420000.0, 'bid_price': 8373000.0, 'ask_size': 0.0028, 'bid_size': 0.5010063}, {'ask_price': 8428000.0, 'bid_price': 8370000.0, 'ask_size': 5.14099352, 'bid_size': 0.48077642}]}]
ticker 파라미터에 리스트로 티커를 넣으면, 한 번에 여러 종목의 호가를 조회할 수 있습니다.

In [26]:
print(pyupbit.get_orderbook(ticker=["KRW-BTC", "KRW-XRP"]))

[{'market': 'KRW-BTC', 'timestamp': 1684933582359, 'total_ask_size': 3.6846261600000005, 'total_bid_size': 5.335017030000001, 'orderbook_units': [{'ask_price': 35824000.0, 'bid_price': 35823000.0, 'ask_size': 0.08571836, 'bid_size': 0.10942129}, {'ask_price': 35826000.0, 'bid_price': 35822000.0, 'ask_size': 0.2488878, 'bid_size': 0.43520934}, {'ask_price': 35829000.0, 'bid_price': 35821000.0, 'ask_size': 0.27903713, 'bid_size': 1.01655675}, {'ask_price': 35830000.0, 'bid_price': 35820000.0, 'ask_size': 0.09745782, 'bid_size': 1.17967754}, {'ask_price': 35832000.0, 'bid_price': 35819000.0, 'ask_size': 1.85566085, 'bid_size': 0.01238033}, {'ask_price': 35833000.0, 'bid_price': 35818000.0, 'ask_size': 0.05754866, 'bid_size': 0.02404821}, {'ask_price': 35842000.0, 'bid_price': 35817000.0, 'ask_size': 0.00907442, 'bid_size': 0.31897891}, {'ask_price': 35843000.0, 'bid_price': 35816000.0, 'ask_size': 0.16341316, 'bid_size': 0.27047287}, {'ask_price': 35844000.0, 'bid_price': 35815000.0, 'ask_size': 0.02617884, 'bid_size': 0.37525887}, {'ask_price': 35854000.0, 'bid_price': 35814000.0, 'ask_size': 0.005, 'bid_size': 0.04018016}, {'ask_price': 35858000.0, 'bid_price': 35813000.0, 'ask_size': 0.4, 'bid_size': 0.24765865}, {'ask_price': 35859000.0, 'bid_price': 35812000.0, 'ask_size': 0.344, 'bid_size': 0.21924656}, {'ask_price': 35860000.0, 'bid_price': 35811000.0, 'ask_size': 0.01816259, 'bid_size': 0.35744176}, {'ask_price': 35861000.0, 'bid_price': 35810000.0, 'ask_size': 0.00151174, 'bid_size': 0.59452979}, {'ask_price': 35862000.0, 'bid_price': 35809000.0, 'ask_size': 0.09297479, 'bid_size': 0.133956}]}, {'market': 'KRW-XRP', 'timestamp': 1684933582469, 'total_ask_size': 7467272.85396844, 'total_bid_size': 12620609.044030888, 'orderbook_units': [{'ask_price': 610.0, 'bid_price': 609.0, 'ask_size': 376973.55681131, 'bid_size': 1122842.53651424}, {'ask_price': 611.0, 'bid_price': 608.0, 'ask_size': 723936.66878167, 'bid_size': 1264467.4056085}, {'ask_price': 612.0, 'bid_price': 607.0, 'ask_size': 506690.95335975, 'bid_size': 1263930.32964227}, {'ask_price': 613.0, 'bid_price': 606.0, 'ask_size': 291122.31528492, 'bid_size': 929097.16862692}, {'ask_price': 614.0, 'bid_price': 605.0, 'ask_size': 429715.60230272, 'bid_size': 717960.99149476}, {'ask_price': 615.0, 'bid_price': 604.0, 'ask_size': 499500.47166119, 'bid_size': 200282.12289525}, {'ask_price': 616.0, 'bid_price': 603.0, 'ask_size': 108472.36970856, 'bid_size': 548821.1990354}, {'ask_price': 617.0, 'bid_price': 602.0, 'ask_size': 373470.33371455, 'bid_size': 874451.46481137}, {'ask_price': 618.0, 'bid_price': 601.0, 'ask_size': 316834.29620874, 'bid_size': 1107854.39003206}, {'ask_price': 619.0, 'bid_price': 600.0, 'ask_size': 850276.0487013, 'bid_size': 2326857.70078312}, {'ask_price': 620.0, 'bid_price': 599.0, 'ask_size': 878530.92524273, 'bid_size': 369087.29260289}, {'ask_price': 621.0, 'bid_price': 598.0, 'ask_size': 487832.85935774, 'bid_size': 417241.33236814}, {'ask_price': 622.0, 'bid_price': 597.0, 'ask_size': 535224.56103936, 'bid_size': 251131.43922483}, {'ask_price': 623.0, 'bid_price': 596.0, 'ask_size': 745864.18455352, 'bid_size': 525395.25156532}, {'ask_price': 624.0, 'bid_price': 595.0, 'ask_size': 342827.70724038, 'bid_size': 701188.41882582}]}]

## Exchange API

주문은 초당 8회, 분당 200회 / 주문 외 요청은 초당 30회, 분당 900회 사용 가능합니다.

### 로그인
Access Key와 Sercret Key를 사용해서 Upbit 객체를 생성합니다. 이는 웹페이지에서 로그인하는 것과 같습니다.

In [27]:
import pyupbit

access = 'pvTGkFvv8VqlbfzvxPMA1RgufwstWayPRaevxYtZ'          # 본인 값으로 변경
secret = 'HlLG74h6T4uJyOxGUlzZsjgJzLfMCwBFOzQeI7Cl'          # 본인 값으로 변경

In [28]:
upbit = pyupbit.Upbit(access, secret)

### 잔고 조회
get_balance 메서드는 입력받은 티커의 보유 수량 정보를 조회합니다.

In [29]:
print(upbit.get_balance("KRW-XRP"))     # KRW-XRP 조회
print(upbit.get_balance("KRW"))         # 보유 현금 조회

0
1957632.74506138

get_balances 메서드는 보유 중인 모든 암호화폐의 잔고 및 단가 정보를 딕셔너리로 조회합니다.

In [30]:
print(upbit.get_balances())

[{'currency': 'KRW', 'balance': '1957632.74506138', 'locked': '0', 'avg_buy_price': '0', 'avg_buy_price_modified': True, 'unit_currency': 'KRW'}]

### 지정가 매수/매도 주문
지정한 가격에 주문을 요청합니다. 다음은 원화 시장에 리플을 600원에 20개 매도 합니다.

In [31]:
###  매도
print(upbit.sell_limit_order("KRW-XRP", 600, 20))

InsufficientFundsAsk
None

주문 정보가 딕셔너리로 반환됩니다. uuid는 주문에 대한 고윳값으로 이를 사용해 추후 주문을 취소하거나 정정할 수 있습니다.

다음은 원화 시장에 리플을 613원에 10개 매수 합니다.

In [ ]:
# 매수
# print(upbit.buy_limit_order("KRW-XRP", 613, 10))

시장가 매수/매도 주문
시장가 매수는 최우선 매도호가에 즉시 매수합니다. buy_market_order 메서드로 티커와 매수 금액만을 입력합니다. 매수 금액은 수수료를 제외한 금액입니다. 다음 예제에서 주문한 10000원은 수수료가 제외된 금액입니다. 수수료가 0.05%라면 수수료를 포함한 10005원의 현금을 보유하고 있어야 합니다.

In [ ]:
print(upbit.buy_market_order("KRW-XRP", 10000))

다음은 리플 30개를 시장가 매도합니다. 매도대금이 총 10000원이라면 수수료를 제외한 금액이 입금됩니다. 만약 수수료가 0.05%라면 9995원 받을 수 있습니다.

In [ ]:
print(upbit.sell_market_order("KRW-XRP", 30))

### 미체결 주문 조회
get_order 메서드는 입력된 암호화폐의 미체결 주문을 조회합니다.

In [ ]:
upbit.get_order("KRW-LTC")

In [ ]:
미체결 주문이 있다면 리스트로 상세 내역을 반환합니다. 다음은 250000원에 매도(ask) 주문한 LTC이 1개(volume)있다는 의미입니다.

In [ ]:
[{'uuid': '50e184b3-9b4f-4bb0-9c03-30318e3ff10a',
  'side': 'ask',
  'ord_type': 'limit',
  'price': '250000.0',
  'state': 'wait',
  'market': 'KRW-LTC',
  'created_at': '2021-03-25T14:10:53+09:00',
  'volume': '1.0',
  'remaining_volume': '1.0',
  'reserved_fee': '0.0',
  'remaining_fee': '0.0',
  'paid_fee': '0.0',
  'locked': '1.0',
  'executed_volume': '0.0',
  'trades_count': 0}]
state 파라미터를 사용하면 완료된 주문들을 조회할 수 있습니다.

In [ ]:
print(upbit.get_order("KRW-LTC", state="done"))

[{'uuid': '0694def7-5ada-405f-b0f3-053801d5b190',
  'side': 'ask',
  'ord_type': 'market',
  'price': None,
  'state': 'done',
  'market': 'KRW-LTC',
  'created_at': '2021-03-21T14:43:40+09:00',
  'volume': '0.07336815',
  'remaining_volume': '0.0',
  'reserved_fee': '0.0',
  'remaining_fee': '0.0',
  'paid_fee': '8.39331636',
  'locked': '0.0',
  'executed_volume': '0.07336815',
  'trades_count': 1},
 {'uuid': '48d6d451-3db5-4357-9d5a-bfb8f417c943',
  'side': 'ask',
  'ord_type': 'limit',
  'price': '230000.0',
  'state': 'done',
  'market': 'KRW-LTC',
  'created_at': '2021-03-17T01:06:55+09:00',
  'volume': '0.5',
  'remaining_volume': '0.0',
  'reserved_fee': '0.0',
  'remaining_fee': '0.0',
  'paid_fee': '58.775',
  'locked': '0.0',
  'executed_volume': '0.5',
  'trades_count': 2}]
uuid를 사용해서 특정 주문을 상세 조회할 수 있습니다. uuid를 사용하면 다른 파라미터는 무시됩니다.

In [ ]:
order = upbit.get_order('50e184b3-9b4f-4bb0-9c03-30318e3ff10a')
print(order)

결과를 참고하면 지정가 매도를 실행했으며 주문은 취소(cancel) 됐음을 알 수 있습니다

{'uuid': '50e184b3-9b4f-4bb0-9c03-30318e3ff10a', 'side': 'ask', 'ord_type': 'limit', 'price': '250000.0', 'state': 'cancel', 'market': 'KRW-LTC', 'created_at': '2021-03-25T14:10:53+09:00', 'volume': '1.0', 'remaining_volume': '1.0', 'reserved_fee': '0.0', 'remaining_fee': '0.0', 'paid_fee': '0.0', 'locked': '1.0', 'executed_volume': '0.0', 'trades_count': 0, 'trades': []}

### 매수/매도 주문 취소
주문 함수의 리턴 값 중 uuid 값을 사용해서 주문을 취소할 수 있습니다.

In [ ]:
print(upbit.cancel_order('50e184b3-9b4f-4bb0-9c03-30318e3ff10a'))

정상 처리됐다면 다음과 같이 딕셔너리가 반환됩니다.

{'uuid': '50e184b3-9b4f-4bb0-9c03-30318e3ff10a', 'side': 'ask', 'ord_type': 'limit', 'price': '250000.0', 'state': 'wait', 'market': 'KRW-LTC', 'created_at': '2021-03-25T14:10:53+09:00', 'volume': '1.0', 'remaining_volume': '1.0', 'reserved_fee': '0.0', 'remaining_fee': '0.0', 'paid_fee': '0.0', 'locked': '1.0', 'executed_volume': '0.0', 'trades_count': 0}

### 웹소켓
WebSocket을 이용해서 현재가, 호가, 체결에 대한 정보를 수신합니다.

첫 번째 파라미터에는 수신정보를 입력하며 ticker, orderbook, transaction을 사용할 수 있습니다.
두 번째 파라미터는 구독할 필터를 설정하며 암호화폐의 티커를 입력합니다. 현재 버전에서는 원화 시장만을 지원합니다.

In [ ]:
from pyupbit import WebSocketManager

if __name__ == "__main__":
    wm = WebSocketManager("ticker", ["KRW-BTC"])
    for i in range(10):
        data = wm.get()
        print(data)
    wm.terminate()

주의: 웹소켓의 multiprocessing을 위해 __name__ guard를 반드시 써줘야 합니다.

PyQt5와 함께 웹소켓을 사용하는 예제는 다음 코드를 참고하세요.

버튼을 클릭하면 웹소켓에서 가격정보를 가져와서 화면에 출력합니다.
https://gist.github.com/mr-yoo/a3d1f8a4152f94cf61e4bc566659cd20
WebSocketClient 클래스는 외부에서 프로세스 생성 및 큐를 전달하는 구조에서 사용합니다. WebSocketManager와 달리 사용자가 프로세스를 생성하고 사용할 큐를 입력해줘야 합니다.

In [ ]:
import multiprocessing as mp
import pyupbit


if __name__ == "__main__":
    queue = mp.Queue()
    proc = mp.Process(
        target=pyupbit.WebSocketClient,
        args=('ticker', ["KRW-BTC"], queue),
        daemon=True
    )
    proc.start()

    while True:
        data = queue.get()

In [ ]:
upbit